<div id="hero">
    <div id="nav-bar">
        <div id="logo">
            <img src="/static/images/m.png" alt="logo-icon">
        </div>
        <div id="nav-menu">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </div>
    <div id="hero-text">
        <h1>Hi, I'm Sam - <br><span>A Fullstack Web Developer</span> & Product Designer</h1>
        <div id="hero-btns">
            <a href="#">View my work</a>
            <a href="#">Download Resume</a>
        </div>
    </div>
    <div id="about-section">
        <h1>My Projects</h1>
        <div id="projects">
            <div id="project">
                <img src="/static/images/Forrester-2024.jpg" alt="project image">
                <h3>Home Automation System</h3>
                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <a href="#">View Project</a>
            </div>

            <div id="project">
                <img src="/static/images/Forrester-2024.jpg" alt="project image">
                <h3>Web based Portfolio</h3>
                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <a href="#">View Project</a>
            </div>

            <div id="project">
                <img src="/static/images/Forrester-2024.jpg" alt="project image">
                <h3>Fullstack web project</h3>
                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <a href="#">View Project</a>
            </div>
        </div>
    </div>

    <div id="more-about">
        <div id="developer">
            <img src="/static/images/illustrator.png" alt="developer-illustrator">
        </div>
        <div id="more-info">
            <p>
                Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque 
                sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. 
                Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer
                nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. 
                Ad litora torquent per conubia nostra inceptos himenaeos.
            </p>
        </div>
    </div>

    <div id="technologies">
        <div id="tech"><img src="/static/images/html-5.png" alt="html5 icon"></div>
        <div id="tech"><img src="/static/images/css-3.png" alt="css3 icon"></div>
        <div id="tech"><img src="/static/images/bootstrap-logo-freelogovectors.n.png" alt="bootstrap icon"></div>
        <div id="tech"><img src="/static/images/98-985032_flask-logo-flask-pytho.png" alt="flask icon"></div>
        <div id="tech"><img src="/static/images/python.png" alt="python prog icon"></div>
    </div>

    <div id="footer">
        <div id="footer-image" class="ft">
            <img src="/static/images/m.png" alt="footer logo">
            <h2>Dev. Sam Seye &trade;</h2>
        </div>
        <!-- <div id="links-set" class="ft">
            <h3>Quick Links</h3>
            <ul>
                <li>Home</li>
                <li>Project</li>
                <li>About</li>
                <li>Contact</li>
            </ul>
        </div>
        <div id="location">
            <h3>Nigeria Location</h3>
            <p>Tempus leo eu aenean sed diam urna tempor. 
                Pulvinar vivamus fringilla lacus nec metus bibendum egestas.</p>
        </div> -->
        <div id="contact-form" class="ft">
            <form action="">
                <h2>Contect Me</h2>
                <input type="text" placeholder="Full Name">
                <input type="email" placeholder="Email">
                <input type="number" placeholder="Mobile Number">
                <textarea name="" id="" placeholder="Message"></textarea>
                <input type="submit" value="Send" id="input">
            </form>
        </div>
    </div>
    <div id="main-footer">
        <p>All right reserved &copy; 2025 | SMIICT Solutions</p>
    </div>
</div>
